scratch/
ref/
.vscode/
.mypy_cache/
.ruff_cache/
.pytest_cache/
requirements*.txt

# Data output files
data/output/

# Python build artifacts
*.egg-info/
dist/
build/

# local virtual env
.venv*/

# uv / setuptools cache
__pycache__/
*.pyc

# UI
.gradio